html(lang='en')
	head
		title Caltech - ETDB
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='assets/jensen.css', rel="stylesheet", type='text/css')
		link(href='assets/boots-bones.css', rel="stylesheet", type='text/css')
		link(href='assets/contact.css', rel="stylesheet", type='text/css')
	body
		include header.pug
		#featured-2.row
				.col-sm-8
					h2 Carboxysomes
		#featured-3.row
			.col-sm-6
				#reddiv
				p Carboxysomes are bacterial compartments consisting of polyhedral protein shells filled with the enzyme ribulose-1,5-bisphosphate carboxylase/oxygenase (RuBisCO) -the predominant enzyme in carbon fixation and the rate limiting enzyme in the Calvin Cycle-and a carbonic anhydrase.[2] Carboxysomes are thought to have evolved as a consequence of the increase in oxygen concentration in the ancient atmosphere; this is because oxygen is a competing substrate to carbon dioxide in the RuBisCO reaction.[3] 

			.col-sm-6
				#spacediv
				p To overcome the inefficiency of RuBisCO, carboxysomes concentrate carbon dioxide inside the shell by means of co-localized carbonic anhydrase activity, which produces carbon dioxide from the bicarbonate that diffuses into the carboxysome. The resulting production of carbon dioxide near RuBisCO decreases the proportion of ribulose-1,5-bisphosphate oxygenation and thereby avoids costly photorespiratory reactions. The surrounding shell provides a barrier to carbon dioxide loss, helping to increase its concentration around RuBisCO.[4][5] 
				

					    

		#featured.row
					div.row
					include tomograph-cell.pug
					include tomograph-cell.pug
					include tomograph-cell.pug
					include tomograph-cell.pug

include footer.pug