html(lang='en')
	head
		title Caltech - ETDB
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='assets/jensen.css', rel="stylesheet", type='text/css')
		link(href='assets/boots-bones.css', rel="stylesheet", type='text/css')
		link(href='assets/contact.css', rel="stylesheet", type='text/css')
	body
		include header.pug
				 
p contact

include footer.pug