html(lang='en')
	head
		title Caltech - ETDB
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='assets/jensen.css', rel="stylesheet", type='text/css')
		link(href='assets/boots-bones.css', rel="stylesheet", type='text/css')
		link(href='assets/contact.css', rel="stylesheet", type='text/css')
	body
		include header.pug
		#featured-2.row
				.col-sm-8
					h2 The Electronic Tomography Database is a multi faceted endeavor. Please contact the appropriate person.
		#featured-3.row
			.col-sm-4
				#reddiv
				h3.contact California Institute of Technology
				p 1200 E California Blvd
				p Pasadena, CA 91125
				p Department of Biology
				p Broad Center for the Biological Sciences

			.col-sm-4
				#reddiv
				h3.contact Grant Jensen
				p Principal Investigator
				p phone: (626) 395-8827 
				p jensen(at)caltech.edu

			.col-sm-4
				#reddiv
				p Cryo-electron tomography is an imaging technique used to produce high-resolution, 3D views of biological samples, think of it as a CT scan for cells.
					    


include footer.pug