html(lang='en')
	head
		title Caltech - ETDB
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='assets/jensen.css', rel="stylesheet", type='text/css')
		link(href='assets/boots-bones.css', rel="stylesheet", type='text/css')
		link(href='assets/contact.css', rel="stylesheet", type='text/css')
	body
		include header.pug
				 
		#browsedatabase.row

			.col-sm-2
				#filters
				input(type="text" class="form-control"  placeholder="Search for...")

				#reddiv
				b Filters
				p + Bacteria
				p + Archaea
				p + Eukaryotes
                
				


			#searchresultsgrid.col-sm-10
				div.row
					include tomograph-cell.pug
					include tomograph-cell.pug
					include tomograph-cell.pug
					include tomograph-cell.pug
                    


include footer.pug