html(lang='en')
	head
		title Caltech - ETDB
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='assets/jensen.css', rel="stylesheet", type='text/css')
		link(href='assets/boots-bones.css', rel="stylesheet", type='text/css')
		link(href='assets/contact.css', rel="stylesheet", type='text/css')
	body
		include header.pug
		#about.row
				div
					h2 These are the featured tomograms
					
		#featured.row
					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Carboxysomes

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Chemoreceptors

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Filaments

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Flagella
		
		#featured.row
					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Granules

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Internal membranes

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Pili

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Surface layer
