html(lang='en')
	head
		title Caltech - ETDB
		link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='assets/jensen.css', rel="stylesheet", type='text/css')
		link(href='assets/boots-bones.css', rel="stylesheet", type='text/css')
		link(href='assets/contact.css', rel="stylesheet", type='text/css')
	body
		include header.pug
		#featured-2.row
				.col-sm-8
					h2 With over x tomograms in the database we wanted to highlights some which exhibit particular features. 
		#featured-3.row
			.col-sm-4
				#reddiv
				p With over x tomograms in the database we wanted to highlights some which exhibit particular features.

			.col-sm-4
				#reddiv
				p These collections do not represent every single tomogram which exhibits a paritcular feature, but gives a sample of some that do.

			.col-sm-4
				#reddiv
				p Cryo-electron tomography is an imaging technique used to produce high-resolution, 3D views of biological samples, think of it as a CT scan for cells.
					    

		#featured.row
					.col-sm-3
						a(href='carboxysomes-collection')
							img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
							name Carboxysomes

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Chemoreceptors

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Filaments

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Flagella
		
		#featured.row
					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Granules

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Internal membranes

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Pili

					.col-sm-3
						img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
						name Surface layer

include footer.pug