script(src="assets/hover.js")

#footer.row
					.col-sm-3
						a(href="https://templeton.org/")
							img(src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/02/templteton.png")
						a(href="https://templeton.org/")
							img(src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/02/nih-logo-color.png")

					.col-sm-3
						a(href="http://beckmaninstitute.caltech.edu/")
							img(src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/02/logo.png")
						a(href="https://templeton.org/")
							img(src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/02/hhmi-social-200x200.png")


					.col-sm-3
						p <b>California Institute of Technology</b>
						p 1200 E California Blvd
						p Pasadena, CA 91125
						p Department of Biology
						p Broad Center for the Biological Sciences


					.col-sm-3
						p Extra links