head
	link(href="https://fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Muli:400,700,800,900" rel="stylesheet")
	script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
	link(rel="stylesheet" href="https://use.typekit.net/zvc5wgw.css")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")



body
	#headerfixed
		#topbar
			.row
				.col-sm-6
					a(href="./index.js")
						img(class="black-logo" src="/assets/etbd-with-grid.png")
				.col-sm-6
					#menu
						a(href="./about") About
						a(href="./database") Browse Database
						a(href="./featured") Featured Tomograms
						a(href="about#faq") FAQ
						a(href="/contact") Contact
							