head
	link(href="https://fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Muli:400,700,800,900" rel="stylesheet")
	script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
	link(rel="stylesheet" href="https://use.typekit.net/zvc5wgw.css")
body
	#headerfixed
		#topbar
			.row
				.col-sm-6
					a(href="./index.js")
					img(class="black-logo" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/03/etdb.png")
				.col-sm-6
					#menu
						a(href="http://www.designing-science-development.com/jensen/about/") About
						a(href="http://www.designing-science-development.com/jensen/search-results/") Browse Database
						a(href="http://www.designing-science-development.com/jensen/featured/") Featured Tomograms
						a(href="http://www.designing-science-development.com/jensen/about/#faq") FAQ
						a(href="http://www.designing-science-development.com/jensen/contact/") Contact
							