div.row
	#tomogramcell.col-sm-3
		#video-thumb-container
			a(class="tomogram-link" href="/singletomogram")
				video(class='videothumbhover' loop='')
					source(src='http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/tomogram-Converted_1.mp4', type='video/mp4')
					source(src='/video/movie.ogg', type='video/ogg')
				name Tomogram name
				date Tomogram date

	#tomogramcell.col-sm-3
		a(class="tomogram-link" href="/singletomogram")
			img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
			name Tomogram name
			date Tomogram date

	#tomogramcell.col-sm-3
		a(class="tomogram-link" href="/singletomogram")
			img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
			name Tomogram name
			date Tomogram date

	#tomogramcell.col-sm-3
		a(class="tomogram-link" href="/singletomogram")
			img(class="results-thumb" src="http://www.designing-science-development.com/jensen/wp-content/uploads/2018/01/keyimg_zl2008-01-11-13.jpg")
			name Tomogram name
			date Tomogram date